
\.idea/

Dump/

bot-env/

*.log

*.pyc

roxbot/settings/servers\.json

roxbot/settings/preferences.ini

env/

roxbot/settings/servers/*

site/

roxbot/settings/roxbot\.conf

roxbot/settings/db\.sqlite

roxbot/settings/db.sqlite
