<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
          <img src="static/img/logo_temp.png" height="28"> <!-- width="112"-->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('.guilds_page') }}">
            Guilds
          </a>
          <a class="navbar-item" href="{{ url_for('.stats') }}">
            Stats
          </a>
          </div>
        </div>
        <div class="navbar-end">
            {% if oauth_token %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="navbar-username">{{ user.get("username") }}#{{ user.get("discriminator") }}</span>
                    <img class="avatar" src="{{ IMAGE_BASE_URL }}avatars/{{ user['id'] }}/{{ user['avatar'] }}{% if user['avatar'].startswith('a_') %}.gif{% else %}.webp{% endif %}" height="28" onerror="this.src='{{ IMAGE_BASE_URL }}embed/avatars/{{ user['discriminator']|int % 5 }}.png'">
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href='{{ url_for(".me") }}'>Me</a>
                    <a class="navbar-item" href='{{ url_for(".logout") }}'>Logout</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href='{{ url_for(".login") }}'>Login</a>
                </div>
            </div>
          {% endif %}
        </div>
</nav>