<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('.index') }}">
          <strong>Roxbot</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('.guilds') }}">
            Guilds
          </a>
          <a class="navbar-item" href="{{ url_for('.stats') }}">
            Stats
          </a>
          </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/roxxers/roxbot">
              <i class="fab fa-github"></i>
            </a>
            {% if oauth_token %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="navbar-username">{{ user.get("username") }}#{{ user.get("discriminator") }}</span>
                    <img class="avatar" src="{{ IMAGE_BASE_URL }}avatars/{{ user['id'] }}/{{ user['avatar'] }}{% if user['avatar'].startswith('a_') %}.gif{% else %}.webp{% endif %}" height="28" onerror="this.src='{{ IMAGE_BASE_URL }}embed/avatars/{{ user['discriminator']|int % 5 }}.png'">
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href='{{ url_for(".me") }}'>Me</a>
                    <a class="navbar-item" href='{{ url_for(".logout") }}'>Logout</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button discord-login" href='{{ url_for(".login") }}'><span id="discord-login-logo" class="fab fa-discord"></span> Login</a>
                </div>
            </div>
          {% endif %}
        </div>
</nav>