<nav class="navbar is-transparent has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('.index') }}">
          <strong style="font-size: 1.8em">Roxbot</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('.dashboard') }}">
            Dashboard
          </a>
          </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/roxxers/roxbot">
              <i class="fab fa-github navbar-social-link"></i>
            </a>
            {% if oauth_token %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    <span class="discord-username">{{ logged_in_user.get("username") }}#{{ logged_in_user.get("discriminator") }}</span>
                    {% set fallback = "{0}embed/avatars/{1}.png".format(IMAGE_BASE_URL, logged_in_user['discriminator']|int % 5) %}
                    {% if logged_in_user['avatar'].startswith('a_') %}
                      <img id="nav-ava" class="avatar" src="{{ IMAGE_BASE_URL }}avatars/{{ logged_in_user['id'] }}/{{ logged_in_user['avatar'] }}.gif" height="28" onerror="this.src='{{ fallback }}'">
                    {% else %}
                      <img id="nav-ava" class="avatar" src="{{ IMAGE_BASE_URL }}avatars/{{ logged_in_user['id'] }}/{{ logged_in_user['avatar'] }}.webp" height="28" onerror="this.src='{{ fallback }}'">
                    {% endif %}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href='{{ url_for(".me") }}'>Me</a>
                    <a class="navbar-item" href='{{ url_for(".logout") }}'>Logout</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary discord-login" href='{{ url_for(".login") }}'><span id="discord-login-logo" class="fab fa-discord"></span> Login</a>
                </div>
            </div>
          {% endif %}
        </div>
    </div>
</nav>