<link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
<link rel="stylesheet" type="text/css" href="/static/css/bulma-ribbon.css">
<style>
  .avatar {
    border-radius: 100%;
  }
  #nav-ava {
    height: 82px !important;
  }
  .guild-content {
    margin: auto;
  }
  .guild-icon {
    height: 64px !important;
    width: 64px;
  }
  .guild-icon-backup {
    background-color: #abff00;
  }
  #discord-login-logo {
    padding-right: 0.35em;
    font-size: 1.1rem;
  }
  #discord-invite-logo {
    padding-left: 0.35em;
    font-size: 1.1rem;
  }
  .button.discord-login {
    font-size: 1.1rem;
  }
  .discord-username {
    padding-right: 0.50em
  }
  .discord-blue {
    background-color: #7289DA;
    color: #fff;
    border-color: transparent;
  }
  .discord-grey {
    background-color: #2C2F33;
    color: #fff;
    border-color: transparent;
  }
  .navbar-social-link {
    font-size: 1.5em
  }
</style>