<link rel="stylesheet" type="text/css" href="static/css/bulma.css">
<link rel="stylesheet" type="text/css" href="static/css/bulma-ribbon.css">
<style>
  .avatar {
    border-radius: 50px;
    height: 82px !important;
  }
  .guild-card {
    margin: auto;
  }
  .guild-icon-backup {
    background-color: gray;
    height: 82px;
    width: 82px;
  }
  #discord-login-logo {
    padding: 0 0.35em;
    font-size: 1.1rem;
  }
  .button.discord-login {
    padding-left: 0.50em;

  }
  .discord-username {
    padding-right: 0.50em
  }
  .discord-blue {
    background-color: #7289DA;
    color: #fff;
    border-color: transparent;
  }
  .discord-grey {
    background-color: #2C2F33;
    color: #fff;
    border-color: transparent;
  }
  .navbar-social-link {
    font-size: 1.5em
  }
</style>