{% extends "base/base.html" %}

{% block page_name %}Dashboard{% endblock page_name %}

{% block content %}
<main>
  <section id="header" class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Dashboard
        </h1>
        <h2 class="subtitle">
          Edit all of Roxbot's settings from here!
        </h2>
      </div>
    </div>
  </section>
  <section id="instance" class="section"></section>
  <section id="guilds" class="section">
    <div class="container">
      <h2 class="title">Guilds</h2>
      <h3 class="subtitle">
        Click on a guild to edit it's settings! Don't see the guild you want? <a href="{{ invite_url }}">Invite Roxbot!</a>
      </h3>
      <div class="columns is-desktop is-multiline">
        {% for guild in guilds  %}
          <div class="column is-one-quarter">
            <a class="box guild-card" href="{{ url_for('guild_page', guild_id=guild['id']) }}">
              <article class="media">
                <figure class="media-left">
                    {% if guild['icon'] != none %}
                      {% if guild['icon'].startswith('a_') %}
                        <img class="avatar guild-icon" src="{{ IMAGE_BASE_URL }}icons/{{ guild['id'] }}/{{ guild['icon'] }}.gif?size=64" alt="{{ guild['name'][0].upper() }}">
                      {% else %}
                        <img class="avatar guild-icon" src="{{ IMAGE_BASE_URL }}icons/{{ guild['id'] }}/{{ guild['icon'] }}.webp?size=64" alt="{{ guild['name'][0].upper() }}">
                      {% endif %}
                    {% else %}
                      <div class="avatar guild-icon guild-icon-backup"></div>
                    {% endif %}
                </figure>
                <div class="media-content guild-content">
                  <div class="content">
                    <p >{{ guild['name'] }}</p>
                  </div>
                </div>
                <div class="media-right">
                </div>
              </article>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}