
{% extends "base/base.html" %}

{% block page_name %}Index{% endblock page_name %}

{% block content %}

<section class="hero is-medium is-dark is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
        <h1 class="title">
            Roxbot
        </h1>
        <h2 class="subtitle">
            An inclusive modular multi-purpose Discord bot.<br />Built with ❤️
        </h2>
        <div class="buttons is-centered">
          <a class="button is-primary is-outlined" href="{{ invite_url }}">Invite to <i id="discord-invite-logo" class="fab fa-discord"></i> </a>
          <a class="button is-warning is-outlined" href="{{ url_for('.dashboard') }}">Dashboard</a>
        </div>
    </div>
  </div>
</section>


<div class="container">
  <section id="usage-level" class="section level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Guilds</p>
        <p class="title">{{ client.guilds | length }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Users</p>
        <p class="title">{{ client.users | length }}</p>
      </div>
    </div>
  </section>
</div>

{% endblock content %}